*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

header{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: gray;
    text-align: center;
}

ul{

    display: flex;
    justify-content: space-around;
    color:black;
}

ul :hover{
    color:aqua;
    background-color: black;
}

li{
    border-radius: 4px;
    width: 100%;
    font-size: auto;
}


img{
    height: 50%;
    width: 50%;
    border-radius: 100%;
}

.foto{
    text-align: center;
    align-self: center;
}

.info{

    margin-top: 1% ;
    width: 99%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 8px;
}

.dados{
    font-size: x-large;
    padding-right: 1%;
}

.obj{
    margin-left: 2% ;
    margin-top: 4%;
    border: 2px solid gray;
    border-radius: 8px;
    width: 60%;
}

.qualificações_profisional{
    margin-left: 2% ;
    margin-top: 4%;
    border: 2px solid gray;
    border-radius: 8px;
    width: 60%;
}

.experiencias{
    margin-left: 2% ;
    margin-top: 4%;
    border: 2px solid gray;
    border-radius: 8px;
    width: 60%;
}

.formação{
    margin-left: 2% ;
    margin-top: 4%;
    border: 2px solid gray;
    border-radius: 8px;
    width: 60%;
}

p{
    margin-top: 1%;
    margin-bottom: 1%;
}

.titulo{
    font-size: 26px;
    font-weight: 600;
}

body{
    background-color: white;
}

div{
    background-color: aquamarine;
    color:red;
}


@media(max-width:600px){
    div{
        background-color: white;
        color:black;
    }
    
    p{
        font-size: 10px;
    }

    .qualificações_profisional{
        display: flex;
        flex-direction: column;
    }
}